[submodule "editors/tankwar"]
	path = editors/tankwar
	url = https://github.com/kankungyip/playground-tankwar.git
[submodule "editors/arduino"]
	path = editors/arduino
	url = https://github.com/BlockCodeLab/gui-arduino.git
[submodule "editors/esp32"]
	path = editors/esp32
	url = https://github.com/BlockCodeLab/gui-esp32.git
[submodule "editors/microbit"]
	path = editors/microbit
	url = https://github.com/BlockCodeLab/gui-microbit.git
[submodule "editors/matrix"]
	path = editors/matrix
	url = https://github.com/BlockCodeLab/gui-matrix.git
[submodule "editors/writer"]
	path = editors/writer
	url = https://github.com/BlockCodeLab/gui-writer.git
[submodule "editors/iotbit"]
	path = editors/iotbit
	url = https://github.com/BlockCodeLab/gui-iotbit.git
