/* inspired by scratch-gui */
.menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;

  /*
      For most things, we shouldn't explicitly set height, and let the
      content push the element to whatever fits. Using a fixed height
      instead, will help us subtract the value we assign from the body,
      adding up to a perfect 100%. This means we don't need to set
      overflow: hidden, which makes it hard to debug. border-box
      simplifies by all of this by removing padding from the equation.
  */
  box-sizing: border-box;
  height: var(--menu-bar-height);

  /*
      @todo: This adds ~20px in Chrome, when scrolling to the right,
      but fixes [FFx + Safari] [resize window down + scroll to the right] bug.
      width: 100%;
  */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: var(--menu-bar-standard-font-size);
  font-weight: bold;
  background-color: var(--theme-primary);
  color: var(--ui-white);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);

  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.menu-bar-item {
  display: flex;
  padding: 0 0.25rem;
  text-decoration: none;
  color: var(--ui-white);
  user-select: none;
  align-self: center;
  position: relative;
  align-items: center;
  white-space: nowrap;
  height: var(--menu-bar-height);
}

.menu-bar-item.growable {
  max-width: var(--menu-bar-item-max-width);
  flex: 1;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.25rem;
  /* flex-grow: 1; */

  -webkit-app-region: no-drag;
}

.main-menu.electron {
  margin-left: 72px;
}

.right-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.25rem;

  -webkit-app-region: no-drag;
}

.menu-label {
  padding: 0 0.75rem;
}

.menu-label img {
  margin-right: 0.25rem;
}

.language-label {
  width: var(--language-selector-width);
  padding: 0 0.5rem;
}

input.menu-label {
  display: none;
}

input.menu-label+.menu-bar-item:hover {
  cursor: pointer;
  background: var(--ui-black-transparent);
}

input.menu-label:checked+.menu-bar-item {
  background: var(--ui-black-transparent);
}

.main-menu > .menu {
  border-radius: 0 0 var(--space) var(--space);
}

.menu {
  top: var(--menu-bar-height);
  z-index: var(--z-index-menu-bar);
  border-radius: var(--space);
  color: var(--ui-white);
  background: var(--theme-primary);
  display: none;
  min-width: 186px;
}

.menu-item {
  font-weight: bold;
}

.menu-item:hover {
  background: var(--ui-black-transparent);
}

.language-icon {
  height: 1.5rem;
  vertical-align: middle;
}

.check-icon {
  margin-right: calc(var(--space) / 2);
  visibility: hidden;
  width: 14px;
}

.check-icon.checked {
  visibility: visible;
}

.divider {
  margin: 0 0.7rem;
  height: 34px;
  border-right: 1px dashed var(--ui-black-transparent);
}

.hoverable:hover {
  cursor: pointer;
  background: var(--ui-black-transparent);
}

.tutorials-icon {
  margin-right: 0.35rem;
}

.title-field {
  border: 1px dashed var(--ui-black-transparent);
  border-radius: var(--form-radius);
  -webkit-border-radius: var(--form-radius);
  -moz-border-radius: var(--form-radius);
  background-color: var(--ui-white-transparent);
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  height: auto;
  padding: 0.5rem;
  color: var(--ui-white);
  font-weight: bold;
  font-size: 0.8rem;
}

.title-field::placeholder {
  color: var(--ui-white);
  font-weight: normal;
  font-size: 0.8rem;
  font-style: italic;
}

.title-field:hover {
  background-color: hsla(0, 100%, 100%, 0.5);
}

.title-field:focus {
  outline: none;
  border: 1px solid var(--ui-transparent);
  -webkit-box-shadow: 0 0 0 calc(var(--space) * 0.5) var(--ui-white-transparent);
  box-shadow: 0 0 0 calc(var(--space) * 0.5) var(--ui-white-transparent);
  background-color: var(--ui-white);
  color: var(--text-primary);
}

.home-icon,
.closeIcon {
  padding: 0 0.35rem;
}

.blank-check-item>div {
  padding-left: calc(14px + var(--space) / 2);
}
