.alerts-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: var(--z-index-alerts);
  position: absolute;
  top: calc(var(--menu-bar-height) + var(--space));
  pointer-events: none;
  flex-direction: column;
  align-items: center;
}

.alert-wrapper {
  min-width: 200px;
  max-width: 548px;
  min-height: 1.5rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.875rem 1rem;
  margin-bottom: 7px;
  pointer-events: all;
  background: var(--ui-light);
  border: 1px solid var(--blocks-tertiary);
  box-shadow: 0px 0px 0px 2px var(--ui-light);
}

.warn {
  border: 1px solid var(--error-primary);
}

.icon {
  min-width: 1.25rem;
  min-height: 1.25rem;
  display: flex;
  padding-right: 1rem;
}

.message {
  font-weight: bold;
  font-size: 0.8125rem;
  line-height: 0.875rem;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  justify-content: flex-end;
  align-items: center;
}

.warn .message {
  color: var(--error-secondary);
}

.success .message {
  color: #555;
}

.buttons-group {
  display: flex;
  align-items: center;
}

.button {
  color: var(--ui-white);
  background: #ff8c1a;
  border: #ff8c1a;
  margin-left: var(--space);
  padding: var(--space) calc(var(--space) * 2.5);
}

.close-button {
  background: hsla(29, 100%, 54%, 0.2);
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 0 2px hsla(29, 100%, 54%, 0.2);
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
  transition: all 0.15s ease-out;
  margin-left: calc(var(--space) * 2);
}

.close-button:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0px 0px 0px 4px hsla(29, 100%, 54%, 0.2);
}

.close-button img {
  margin: 0 auto;
}
