.tutorial-box-wrapper {
  position: absolute;
  pointer-events: auto;
  z-index: var(--z-index-card);
  min-width: 468px;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}

.tutorial-card {
  border: 1px solid var(--ui-tertiary);
  border-radius: calc(var(--space) * 1.8);
  display: flex;
  flex-direction: column;
  cursor: move;
  overflow: hidden;
  box-shadow: 0px 5px 25px 5px var(--ui-black-transparent);
  align-items: center;
  z-index: 20;
}

.card-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--blocks-primary);
  font-size: var(--small-font-size);
  font-weight: bold;
}

.header-button-group {
  display: flex;
  flex-direction: row;
}

.header-button {
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
}

.header-button:hover {
  background: var(--ui-black-transparent);
}

.button-icon {
  height: 1.25rem;
  border: 0;
}

.step-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.step-pip {
  cursor: pointer;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.25rem;
  border-radius: 100%;
  background: var(--ui-white-transparent);
}

.step-pip.actived {
  background: var(--ui-white);
  -webkit-box-shadow: 0px 0px 0px 2px var(--ui-black-transparent);
  box-shadow: 0px 0px 0px 2px var(--ui-black-transparent);
}

.card-body {
  width: 100%;
  background: var(--ui-white);
  border-top: 1px solid var(--blocks-tertiary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  min-height: 256px;
  color: var(--text-primary);
}

.title {
  font-size: 1rem;
  margin: 0.9rem;
  text-align: center;
  font-weight: bold;
}

.image {
  max-width: 450px;
  max-height: 200px;
  object-fit: contain;
  background: var(--ui-secondary);
  border: 1px solid var(--ui-black-transparent);
  border-radius: var(--space);
  overflow: hidden;
  margin: 0 var(--space) var(--space);
  pointer-events: none;
}

.text {
  font-size: 0.9rem;
  max-width: 450px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 var(--space) 2.7rem var(--space);
}

.image + .text {
  height: auto;
}

.more {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 0.9rem var(--space);
}

.more-item {
  display: flex;
  flex-direction: column;
  margin: 0 var(--space) var(--space);
  cursor: pointer;
  border: 1px solid hsla(0, 0%, 0%, 0.15);
  border-radius: var(--space);
  overflow: hidden;
}

.more-item-image {
  width: 200px;
  height: 100px;
  object-fit: cover;
  pointer-events: none;
}

.more-item-name {
  color: var(--theme-primary);
  font-weight: bold;
  font-size: 0.85rem;
  margin: calc(var(--space) * 1.2) 0px;
  text-align: center;
  text-align: center;
  max-width: 200px;
}

.see-more-button {
  border: 0;
  background: var(--theme-primary);
  color: var(--ui-white);
  margin-bottom: 2.7rem;
}

.left-page,
.right-page {
  height: 90%;
  position: absolute;
  top: 5%;
  background: var(--ui-white);
  border: 1px solid var(--ui-black-transparent);
  width: calc(var(--space) * 1.8);
  opacity: 0.9;
  overflow: hidden;
  z-index: 10;
}

.left-page::after,
.right-page::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 100%;
  background: var(--blocks-primary);
}

.left-button,
.right-button {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  user-select: none;
  cursor: pointer;
  background: var(--blocks-primary);
  box-shadow: 0 0 0 4px var(--blocks-transparent);
  height: 44px;
  width: 44px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease;
  z-index: 30;
}

.left-button:hover,
.right-button:hover {
  box-shadow: 0 0 0 6px var(--blocks-transparent);
  transform: scale(1.125);
}

.left-button img,
.right-button img {
  width: 1.75rem;
}

.left-page {
  left: 0;
  border-right: 0;
  border-top-left-radius: calc(var(--space) * 1.8);
  border-bottom-left-radius: calc(var(--space) * 1.8);
  transform: translateX(-100%);
}

.left-button {
  left: -27px;
}

.right-page {
  right: 0;
  border-left: 0;
  border-top-right-radius: calc(var(--space) * 1.8);
  border-bottom-right-radius: calc(var(--space) * 1.8);
  transform: translateX(100%);
}

.right-button {
  right: -27px;
}

.right-button img {
  transform: rotateY(180deg);
}
