.button {
  --button-height: calc(var(--standard-font-size) * 2.4);

  padding: 0 calc(var(--space) * 1.5);
  height: var(--button-height);
  border-radius: calc(var(--button-height) / 2);
  margin-left: var(--space);
  border-color: var(--blocks-tertiary);
  background: var(--blocks-secondary);
  color: var(--ui-white);
}

.button .icon {
  width: 16px;
  margin-right: 4px;
  filter: brightness(100);
}

.button:hover:not(:disabled):not(.button-actived) {
  background: var(--blocks-tertiary);
}

.button-actived {
  background: var(--ui-white);
  color: var(--text-primary);
}

.button-actived .icon {
  filter: unset;
}
